# We don't want to store these directories
data/
security/
app/

# Don't store db password files
docs/includes/dbinfo*

# Don't keep a backup of the database
scripts/new_db/*
scripts/govpay_final/*
scripts/trial_and_error/*

# We don't want vim .swp files in the repo
*.swp

# Don't track .tar.gz files
*.tar.gz
